body {
  font-family: "Open Sans", sans-serif;
  padding: 0.2vmax;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #eeeeee;
}

a {
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  text-decoration: none;
  background-color: orange;
  color: black;
  padding-right: 2px;
  padding-left: 2px;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  background-color: coral;
  color: white;
}

.title {
  text-align: center;
  font-weight: 500;
  margin-top: 2rem;
}

.flex-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-div {
  padding: 1rem;
  width: auto;
  background-color: darkorange;
  text-align: center;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-caption {
  text-align: center;
}

.tribute-info {
  width: 50vmax;
  margin-top: 1rem;
  text-align: left;
}

.tribute-link {
  text-align: center;
}

li {
  margin: 1rem 0;
}

.closing-words {
  width: 50vmax;
  margin-top: 2rem;
  text-align: center;
}

.tribute-footer {
  margin-top: 2rem;
  width: 50vmax;
  text-align: center;
}

.nujabes-citation {
  padding: 5px;
  border: 2px solid;
  border-color: orange;
}

@media (max-width: 900px) {
  .closing-words {
    width: 80vw;
    margin-top: 1rem;

    text-align: center;
  }

  .tribute-info {
    width: 80vw;
  }

  .tribute-footer {
    margin-top: 2rem;
    width: 80vw;
    text-align: center;
  }

  .nujabes-citation {
    padding: 0px;
    border: 2px solid;
    display: block;
    border-color: orange;
  }
}
